# 数据预处理
创建一个人工数据集，并存储在csv文件

In [2]:
import os

os.makedirs(os.path.join('..', 'data'),exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

从创建的csv文件中加载原始数据集

In [4]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

为了处理缺失的数据，典型的方法包括**插值**和**删除**，下面考虑插值

In [7]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:,2]
inputs = inputs.fillna(inputs.mean(numeric_only=True)) #房间数填为均值
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于`inputs`中的类别值或离散值，将`NAN`视为一个类别

In [12]:
inputs = pd.get_dummies(inputs, dummy_na=True).astype(int)
inputs

   NumRooms  Alley_Pave  Alley_nan
0         3           1          0
1         2           0          1
2         4           0          1
3         3           0          1

现在`inputs`和`outputs`中所有条目都是数值类型，可以转换为张量格式

In [13]:
import torch

x, y = torch.tensor(inputs.values) , torch.tensor(outputs.values)
x, y

(tensor([[3, 1, 0],
         [2, 0, 1],
         [4, 0, 1],
         [3, 0, 1]], dtype=torch.int32),
 tensor([127500, 106000, 178100, 140000]))